In [37]:
import pandas as pd

In [38]:
df=pd.read_csv('BankChurnModel.csv')

In [39]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [40]:
df.info() #Exploratory data analysis

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [41]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [42]:
newdf = df[['Geography', 'Gender', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited']] #selected columns for analysis

In [43]:
newdf.head()

  Geography  Gender  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0    France  Female          1               1        101348.88       1
1     Spain  Female          0               1        112542.58       0
2    France  Female          1               0        113931.57       1
3    France  Female          0               0         93826.63       0
4     Spain  Female          1               1         79084.10       0

In [44]:
newdf.Exited.value_counts() #exploring the values for each column

Exited
0    7963
1    2037
Name: count, dtype: int64

In [45]:
newdf.IsActiveMember.value_counts() #exploring the values for each column

IsActiveMember
1    5151
0    4849
Name: count, dtype: int64

In [46]:
newdf.HasCrCard.value_counts() #exploring the values for each column

HasCrCard
1    7055
0    2945
Name: count, dtype: int64

In [47]:
newdf.Gender.value_counts() #exploring the values for each column

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [48]:
newdf.Geography.value_counts() #exploring the values for each column

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [49]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geography        10000 non-null  object
 1   Gender           10000 non-null  object
 2   HasCrCard        10000 non-null  int64
 3   IsActiveMember   10000 non-null  int64
 4   EstimatedSalary  10000 non-null  float64
 5   Exited           10000 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 468.9+ KB

In [50]:
data={'0':'NO','1':'YES'} #mapping, converting '0' and '1' to 'yes' and 'No'

In [51]:
newdf['HasCrCard']=newdf['HasCrCard'].astype(str).map(data)
newdf['Exited']=newdf['Exited'].astype(str).map(data)
newdf['IsActiveMember']=newdf['IsActiveMember'].astype(str).map(data)

C:\Users\Dell\AppData\Local\Temp\ipykernel_5968\2279333023.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['HasCrCard']=newdf['HasCrCard'].astype(str).map(data)
C:\Users\Dell\AppData\Local\Temp\ipykernel_5968\2279333023.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['Exited']=newdf['Exited'].astype(str).map(data)
C:\Users\Dell\AppData\Local\Temp\ipykernel_5968\2279333023.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['IsActiveMember']=newdf['IsActiveMember'].astype(str).map(data)

In [52]:
newdf.head()

  Geography  Gender HasCrCard IsActiveMember  EstimatedSalary Exited
0    France  Female       YES            YES        101348.88    YES
1     Spain  Female        NO            YES        112542.58     NO
2    France  Female       YES             NO        113931.57    YES
3    France  Female        NO             NO         93826.63     NO
4     Spain  Female       YES            YES         79084.10     NO

In [54]:
newdf.to_csv('CleanedBankchurndata.csv', index=False) #converting to csv